label, input[type=submit] {cursor: pointer;}
label {font-size:1em; margin:0 1em; width: max-content;}
input[type=radio] {display: none;}
input[type=radio] + form {display: none;}
input[type=radio]:checked + form {display: block;}
.rejected {color:white; background:darkred; margin: 0; padding: .5rem 1rem; }
.accepted {color:white; background:darkgreen; margin: 0; padding: .5rem 1rem; }
